@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: hsl(234, 29%, 20%);
    font-weight: 400;
}

body{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:hsl(235, 18%, 26%) ;
}

.card {
    height: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 10px 10px 15px hsl(234, 29%, 20%), -10px -10px 15px hsl(234, 29%, 20%);  /* BOX SHADOOOOOOOOOOW */;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 35px;
    margin-right: 50px;
    justify-self: flex-start;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0;
}

svg {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 0;
}


.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 20px;
}

h6 {
    font-size: 13px;
    font-weight: 700;
    margin: 20px;
    margin-bottom: 8px;
    margin-left: 0;
    padding: 0;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 2.5rem;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1.6px solid hsl(231, 7%, 60%);
}

input:focus {
    border: 1.6px solid hsl(235, 18%, 26%);
}

button {
    width: 100%;
    height: 2.5rem;
    background-color: hsl(234, 29%, 20%);
    border: 0;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
}

.flexx {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.vd {
    color: hsl(4, 100%, 67%);
    font-weight: 700;
    margin-right: 0;
    display: none;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.error {
    background-color: hsl(3, 64%, 89%);
    border: 1.6px solid  hsl(4, 100%, 67%);
    color:  hsl(4, 100%, 67%);
}

.flex {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 50%;
    padding: 20px;
}

